:root {
  --max-width: 1100px;
  --border-radius: 5px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --padding-div: 1.5rem;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Assistant';
}

a {
  color: inherit;
  text-decoration: none;
}

.btn-1{
  padding:  0.75rem 1.5rem;
  border: 2px solid white;
  border-radius: var(--border-radius);
  font-size: 17px;
  color: white;
  background: transparent;
  text-transform: uppercase;
  font-weight: 100;
}

.btn-2{
  padding:  0.75rem 1.5rem;
  background-color: black;
  border-radius: var(--border-radius);
  font-size: 17px;
  color: white;
  font-weight: 400;
}


.btn-1:hover{
  border-width: 4px;
  cursor: pointer;
}
